.modal {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 10px 5px 5px #2f2b2b;
}

.h1 {
    color: #470968;
    padding: 37px;
    font-size: 51px;
}

.h4 {
    color: #e5c845;
    font-size: 26px;
}

.close {
    text-decoration: none;
    color: #470968;
    font-size: 30px;
    position: relative;
    top: 107px;
}
